* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

html {
  height: 100%;
  position: relative;
}

body {
  height: 100%;
  background-image: url("../images/bg-desktop.svg"), linear-gradient(0deg, #674baf, #674baf);
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}

.header {
  max-width: 1200px;
  margin: auto;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.header img {
  vertical-align: middle;
}

.wrap {
  max-width: 1200px;
  margin: 100px auto 50px;
  display: flex;
  flex-direction: row;
}
.wrap .pic {
  flex: 50%;
  margin-right: 30px;
}
.wrap .pic img {
  width: 100%;
  vertical-align: middle;
}
.wrap .txt {
  flex: 40%;
  padding: 20px;
}
.wrap .txt h1 {
  font-weight: 600;
  margin-bottom: 40px;
}
.wrap .txt a {
  color: #a600ff;
}
.wrap .txt .btn {
  margin: 20px 0;
  background-color: #fff;
  border-radius: 50px;
  width: 160px;
  padding: 10px;
  box-shadow: 5px 5px 10px #4a387a;
}

.icon {
  max-width: 1200px;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.icon i {
  margin: 0 20px;
  font-size: 20px;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid #fff;
}
.icon .fa-facebook-f {
  padding: 10px 13px;
}
.icon i:hover {
  color: #674baf;
  background-color: #fff;
  cursor: pointer;
}

footer {
  background-color: #552f7c;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #888;
  text-decoration: none;
}
footer .attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  html {
    height: 100%;
  }

  body {
    height: 100%;
    background-image: url("../images/bg-mobile.svg"), linear-gradient(20deg, #674baf, #674baf);
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
  }

  .wrap {
    flex-flow: wrap;
    margin: 20px;
  }
  .wrap .pic {
    margin: auto;
  }
}