$Poppins: 'Poppins', sans-serif;
$OpenSans: 'Open Sans', sans-serif;

* {
  padding: 0;
  margin: 0;
  font-family: $OpenSans;
  color: #fff;
}

html{
  height: 100%;
}

body {
  height: 100%;
  background-image: url("../images/bg-desktop.svg"), linear-gradient(0deg,hsl(257, 40%, 49%),hsl(257, 40%, 49%));
  background-size: cover,cover;
  background-repeat: no-repeat,no-repeat;
}

.header {
  max-width: 1200px;
  margin: auto;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  img {
    vertical-align: middle;
  }
}

.wrap {
  max-width: 1200px;
  margin: 100px auto 50px;
  display: flex;
  flex-direction: row;

  .pic {
    flex: 50%;
    margin: 0 30px;

    img {
      width: 100%;
      vertical-align: middle;
    }
  }

  .txt {
    flex: 40%;
    padding: 20px;

    h1 {
      font-weight: 600;
      margin-bottom: 40px;
    }

    a {
      color: hsl(257, 40%, 49%);
    }

    .btn {
      margin: 20px 0;
      background-color: #fff;
      border-radius: 50px;
      width: 160px;
      padding: 10px;
      box-shadow: 5px 5px 10px hsl(256, 37%, 35%);
    }
  }
}

.icon {
  max-width: 1200px;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  i {
    margin: 0 20px;
    font-size: 20px;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #fff;
  }

  .fa-facebook-f {
    padding: 10px 13px;
  }

  i:hover {
    color: hsl(257, 40%, 49%);
    background-color: #fff;
    cursor: pointer;
  }
}

footer {
  padding: 10px;
  a {
    // color: #fff;
    color: #000;
  }
  a:hover{
    color: #888;
    text-decoration: none;
  }

  .attribution {
    font-size: 11px;
    text-align: center;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 800px) {
  html {
    height: auto;
  }
  body {
    height: 100%;
    background-image: url("../images/bg-mobile.svg"), linear-gradient(20deg,hsl(257, 40%, 49%),hsl(257, 40%, 49%));
    background-size: cover,cover;
    background-repeat: no-repeat,no-repeat;
  }
  .wrap{
    flex-flow: wrap;
    margin:20px;
    .pic {
      margin:auto;
    }
  }
}
